{% extends "landingPage/layout.html" %}

{% block body %}
<header>
    <h1>Hitchire</h1>
    <p>A recruitment platform that caters to all requirements</p>
</header>
<main>
    <section class="template">
        <img src="template1.png" alt="Template 1">
        <h2>Template 1</h2>
        <p>A description of template 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a href="template1.html">View Template</a>
    </section>
    <section class="template">
        <img src="template2.png" alt="Template 2">
        <h2>Template 2</h2>
        <p>A description of template 2. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        <a href="template2.html">View Template</a>
    </section>
    <!-- More template sections can be added here -->
</main>
<footer>
    <p>&copy; 2023 Your Company. All rights reserved.</p>
</footer>